@inherits Component
<div class="modal-body" style="width:500px;">
    <p>@Message</p>
</div>
    <div class="modal-footer">
        <MatButton Icon="@MatIconNames.Check" class="btn btn-success" OnClick="OkClick">
            Ok
        </MatButton>
        @if (Buttons == AlertButtons.OkCancel)
        {
            <MatButton Icon="@MatIconNames.Cancel" class="btn btn-danger" OnClick="CancelClick">
                Cancel
            </MatButton>
        }
    </div>
    @*<div class="container">
        <div class="row">
            <div class="col">
               
            </div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-2">
               
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                
            </div>
            <div class="col-2"></div>
        </div>
    </div>*@


    @code {
        [CascadingParameter] public BlazoredModalInstance Modal { get; set; }
        [Parameter]
        public string Message { get; set; }

        [Parameter]
        public AlertButtons Buttons { get; set; }

        void OkClick()
        {
            AlertModalResult result = new AlertModalResult(true);
            Modal.Close(result);
        }

        void CancelClick()
        {
            AlertModalResult result = new AlertModalResult(false);
            Modal.Close(result);
        }
    }
