@page "/"

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <MatTextField Label="Email" Type="text" TValue="string" />
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <MatTextField Label="Age" Type="number" TValue="int?" />
        </div>
    </div>

</div>