@page "/centers/create"

<div class="row">
    <div class="col-3">
        <EditForm>
            <div class="form-group">
                <MatTextField TValue="string" Type="text" @bind-Value="Model.CenterName" />
            </div>

            <div class="form-group">
                <MatTextField TValue="string" Type="text" @bind-Value="Model.CenterPhone" />
            </div>

            <div class="form-group">
                <MatTextField TValue="string" Type="text" @bind-Value="Model.CenterAddress" />
            </div>
        </EditForm>
        
    </div>
</div>